<table>
  <thead>
    <tr>
      <ng-container
        *ngTemplateOutlet="headers; context: { $implicit: data }"
      ></ng-container>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let row of data">
      <ng-container
        *ngTemplateOutlet="rows; context: { $implicit: row }"
      ></ng-container>
    </tr>
  </tbody>
</table>

<ng-template #defaultHeaderTemplate let-data>
  <th *ngFor="let header of data[0] | keyvalue">{{ header.key }}</th>
</ng-template>

<ng-template #defaultRowTemplate> </ng-template>
